# Eclipse
.project
.settings
.classpath

# IntelliJ
*.iml
.idea

# Maven
target/

# Temp files
*.orig
*.tmp
**/*.swp

# node and npm
node
node_modules/
/docker/files/BonitaCommunity-*.zip
/docker/bonita_*.tar.gz
