# Eclipse
.project
.settings
.classpath

# IntelliJ
*.iml
.idea

# VSCode
.vscode

# Maven
target/
.flattened-pom.xml

# Temp files
*.orig
*.tmp
**/*.swp

# Node and web resources
node
node_modules/

# Docker build files
/docker/bonita_*.tar.gz
/docker/files/BonitaCommunity-*.zip
