/*
    The layout made of three containers:
        - layout-header
            Comes with the living application menu.                
        - layout-content
            Comes with the living application iframe to display pages or forms.
        - layout-footer
            Empty by default
    
    You can add more widgets in those containers by using the UI Designer.
     
    This CSS file manages the layout behaviour,   
    It allows to display the content container in full height, 
    and header and footer with fixed size.

*/

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

body > div.container-fluid {
  display: table;

  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
}

body > div.container-fluid > div.row {
  display: table-row;
}

body > div.container-fluid > div.row:nth-child(2),
body > div.container-fluid > div.row:nth-child(2) div, 
body > div.container-fluid > div.row:nth-child(2) iframe {
  height: 100%;
}

body > div.container-fluid > div.row:nth-child(2){
    /* Required for IE9 - IE10 */
    display: table-cell;
}

.component {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
